*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #495057;
  font: normal 16px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #495057;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container {
  margin-top: 50px;
}

.main-heading {
  border-top: 3px solid #fd7e14;
  border-bottom: 1px solid #fd7e14;
  color: #fd7e14;
  font-weight: normal;
}

.article-list {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.article-list:hover h3,
.article-list:hover p {
  color: #fd7e14;
  transition: all 0.3s ease-in-out;
}

.article-list:nth-child(1n) {
  margin-top: 1rem;
}

.page-loader {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.hero-image {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 80%;
  height: 450px;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

.hero-container {
  background-color: #fff;
  margin-top: 450px;
  padding-top: 40px;
}

.hero-container [class^="col"] {
  background-color: #fff;
}

.detail-list {
  border-top: 1px solid #ccc;
}
